servico.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:typens="urn:myLastFmSoapServer" name="myLastFmSoapServer" targetNamespace="urn:myLastFmSoapServer">
	<types><!-- XML Schema type definitions [...] --></types>
	
	<message name="findEventsRequest"> <!-- parts [...] --> </message>
	<message name="findEventsResponse"> <!-- parts [...] --> </message>
	<message name="findEventsByVenueRequest"> <!-- parts [...] --> </message>
	<message name="findEventsByVenueResponse"> <!-- parts [...] --> </message>

	<portType name="myLastFmSoapServerPort">
		<operation name="findEvents">
			<input message="typens:findEventsRequest"/>
			<output message="typens:findEventsResponse"/>
		</operation>
		<operation name="findEventsByVenue">
			<input message="typens:findEventsByVenueRequest"/>
			<output message="typens:findEventsByVenueResponse"/>
		</operation>
	</portType>

	<binding name="myLastFmSoapServerBinding" type="typens:myLastFmSoapServerPort">
		<!-- SOAP binding definition (rpc/literal) [...] -->
	</binding>

	<service name="myLastFmSoapServer"><!-- service definition [...] --></service>
</definitions>